.login {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(-135deg, #c850c0, #4158d0);
}
.login-wrap {
  height: 60vh;
  width: 800px;
  background-color: $color-white;
  padding: $padding-lager;
  border-radius: 10px;
}
.form {
  width: 100%;
  padding: 0 $padding-lager;
  box-sizing: border-box;
}
